.container {
  background-color: black;
}

h1,
header {
  color: white;
  margin-left: 85px;
  margin-top: 50px;
  font-size: 10px;
}
h5 {
  color: white;
  padding-left: 20px;
}
nav ul li {
  display: flex;
  justify-content: space-between;
  float: right;
  align-items: center;
  margin: 2px;
}
.bar a {
  display: inline-block;
  float: left;
  margin-top: -200px;
  margin-right: 20px;
}

.student {
  color: white;
  margin-left: 40px;
  text-align: left;
  font-style: italic;
}
footer {
  color: white;
  margin-left: 250px;
  display: inline-block;
}
